
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Luckiest+Guy&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@1,300&display=swap');

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: repeat(4,1fr)0.8fr,140px;
    grid-template-areas: 
    "header"
    "section-1"
    "section-2"
    "section-3"
    "section-4"
    "footer";
}

header {
    background-image: url(/assets/Imagem_Desktop/Header-Background.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    color: white;
    padding: 40px 20px;
}

.quebra {
    max-width: 350px;
}

h1 {
    text-transform: uppercase;
    display: flex;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 56px;
    font-weight: 400;
}

h2 {
    font-family: Open Sans;
    display: block;
    font-size: 40px;
    max-width: 100%;
    font-weight: 800;
}

.p_header {
    max-width: 63%;
}

p {
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    max-width: 100%;
}

.botao {
    display: flex;
    gap: 24px;
}

.botao-1, .botao-2 {
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-weight: 400;
  font-size: 16px;
  padding: 16px 32px; 
  border-radius: 28px;
  text-decoration: none;
}

.botao-1 {
  background-color: #FFFFFF;
  color: #000;
}

.botao-2 {
  background-color: #23272A;
  color: #FFF;
}

img { 
    max-width: 100%;
    height: auto;
}

#section-1,#section-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 16px;
}

.quebra_texto {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 350px;
}

#flex_direction {
    display: flex;
    flex-direction: column;
}

section p {
    display: flex;
    text-align: start;
}

#section-1 {
    grid-area: section-1;
}

#section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    grid-area: section-2;
}

#section-3 {
    grid-area: section-3;
}

#section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: section-4;
}

.centralizar_texto {
    max-width: 63%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-Cor {
    background-color: #F6F6F6;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272A;
    grid-area: footer;
}